/* Utility */

.align-left {
	text-align: left;
}
.align-center {
	text-align: center;
}
.align-right {
	text-align: right;
}
.hidden {
	display: none;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}
